<section id="about">
	<p> </p>
	<div class="row about-how">
		<div class="rows">
			<div class="columns">
			  <div class="cards">
				<h4>Usuarios Totales</h4>
				<h6><%= userTotal %> </h6>
			  </div>
			</div>
		  
			<div class="columns">
			  <div class="cards">
				<h4>Visitas</h4>
				<h6><%= visitor %> </h6>
			  </div>
			</div>
			
			<div class="columns">
			  <div class="cards">
				<h4>Hoy</h4>
				<h6><%= today %> </h6>
			  </div>
			</div>
			
			<div class="columns">
			  <div class="cards">
				<h4>Total Peticiones</h4>
				<h6><%= total %> </h6>
			  </div>
			</div>
		</div>
		<p> </p>
		<center>
            <%- include('layouts/msg')  %> 
            <%- include('layouts/errors')  %> 
        </center>
		<h1 class="intro-header">MK-Bot-Api</h1>
		<h4 style="text-align: center;">Hola <%= username %>, Tu ApiKey : <%= apikey %>, Limite Hoy: <%= limit %> </h4>
	</div>
	<div class="row pricing-content">
        <center>
			<form method="POST" action="/premium/custom">
				<div>
					<input style="font-family:Arial, FontAwesome" name="customKey" type="text" class="form-control" placeholder="&#xf084;   New Apikey" required>
				</div>
				<button type="submit" class="button button-primary">Cambiar ApiKey</button>
			</form>
		</center>
	</div>
</section> 
